* {
    margin: 0;
    padding: 0;
}

header {
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: ghostwhite;
}

body {
    color: lightgrey;
}

header nav {

}

header nav ul {

}

header nav ul li {
display: inline-block;
list-style: none;
padding: 0 15px;
font-family: 'Open Sans', sans-serif;
float: right;

}

header nav ul li a {
    color: #303030;
    text-decoration: none;
    line-height: 60px;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.pricing article {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    float: left;
    width: 50%;
    text-align: center;
    border-left: 1px solid black;
    padding: 20px;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

